


header,
main,
footer,
section {
    width: 100%;
}

body {
    width: 100%;
    min-height: 100vh;
}

/* HEADER - NAVIGATION BAR */

.header {
    display: flex;
    height: 3.5rem;
    margin: 1rem;
    gap: 1rem;
}

.header__navigation-bar {
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 1rem;
    margin: 1rem;
}

.navigation-bar__link {
    display: flex;
    gap: 1rem;
    align-items: center;
}

.logo {
    width: 2rem;
    height: 2rem;
}

.navigation-bar__link:nth-child(1) {
    margin-right: auto;
}

/* FOOTER */
.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 2rem;
    gap: 1rem;
}

.footer__links,
.footer__copyright {
    position: relative;
    display: flex;
    justify-content: center;
}

.socialnet-icon {
    width: 2rem;
    height: 2rem;
}

.footer__copyright {
    text-align: center;
    margin-bottom: 1rem;
}

/* MAIN */
.foto-producto {
    width: 5rem;
    height: auto;
}

/* FONTS */
.internal-link {
    font-family: "Plus Jakarta Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

.footer__copyright {
    font-family: "Be Vietnam Pro", sana-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: italic;
    font-size: 0.5rem;
}