.product {
    display: flex;
    gap: 2rem;
    align-items: flex-start;
    justify-self: center;
    max-width: 80%;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 2rem;
}

.product__image {
    width: 50%;
    min-width: 20%;
    max-width: 200%;
    height: auto;
}

.product__content {
    flex: 1;
}

.product-content__tittle {
    font-size: 42px;
    margin-bottom: 0;
}

.product-content__price {
    display: inline-block;
    margin-right: 1rem;
    vertical-align: middle;
}

.product-content__stock {
    vertical-align: middle;
}

.product-content__description-tittle {
    font-size: 18px;
}

.product-content__details {
    background-color: #fffae1;
    padding: 1rem;
    border-radius: 8px;
    margin-top: 1rem;
    border-radius: 10px;
}

.product-content-details__list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.details-list__element {
    display: flex;
    justify-content: space-between;
    padding: 0.5rem 1rem;
    border-bottom: 1px solid #ccab0544;
}

.details-list__element:last-child {
    border-bottom: none;
}


.details-list__value {
    text-align: right;
}