/* HEADER - NAVIGATION BAR */
header {
    width: 100%;
}

.header {
    display: flex;
    height: 3.5rem;
    margin: 1rem;
    gap: 1rem;
}

.header__navigation-bar {
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 1rem;
    margin: 1rem;
}

.navigation-bar__link {
    display: flex;
    gap: 1rem;
    align-items: center;
}

.logo {
    width: 2rem;
    height: 2rem;
}

.navigation-bar__link:nth-child(1) {
    margin-right: auto;
}

/* FONTS */
.internal-link {
    font-family: "Plus Jakarta Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}