.product {
    display: flex;
    gap: 2rem;
    align-items: flex-start;
    justify-self: center;
    max-width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 2rem;
    font-family: "Be Vietnam Pro", sans-serif;
    color: #776300;
}

.product__image {
    width: 50%;
    min-width: 20%;
    max-width: 40%;
    height: auto;
    margin-right: 5rem;
}

.product__content {
    flex: 1;
}

.product-content__tittle {
    font-size: 60px;
    margin-bottom: 0;
    font-family: "Plus Jakarta Sans", sans-serif;
    color: #221b00;
}

.product-content__price {
    display: inline-block;
    margin-top: 0.5rem;
    margin-right: 1rem;
    margin-bottom: 1.5rem;
    vertical-align: middle;
    font-size: 30px;
    color: #776300;
}

.product-content__stock {
    vertical-align: middle;
    margin-top: 0.5rem;
    margin-bottom: 1.5rem;
}

.product-content__description-tittle {
    font-size: 18px;
    margin-bottom: 0.5rem;
    font-weight: 300;
}

.product-content__details {
    background-color: #fffae1;
    padding: 1rem;
    margin-top: 2rem;
    border-radius: 10px;
}

.product-content-details__list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.details-list__element {
    display: flex;
    justify-content: space-between;
    padding: 0.5rem 1rem;
    border-bottom: 1px solid #ccab0544;
}

.details-list__element:last-child {
    border-bottom: none;
}

.details-list__label {
    font-size: medium 14px;
    color: #6B662F;
}

.details-list__value {
    text-align: right;
    font-size: medium 14px;
    color: #3D3905;
}

@media (max-width: 768px) {
    .product {
        flex-direction: column;
    }

    .product__image {
        width: 100%;
        max-width: 100%;
        display: flex;
    }

    .product-content__tittle {
        font-size: 42px;
    }

    .product-content__price {
        font-size: 24px;
    }
}