@import url(/src/css/catalogo.css);
@import url(/src/css/detalles-producto.css);
@import url(/src/css/header.css);
@import url(/src/css/footer.css);
@import url(/src/css/contacto.css);
@import url(/src/css/carrito.css);

@import url(https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap);

/* CSS RESET */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
}

